<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      With over 15 years of experience in the tech industry, I have recently transitioned to the role of a Technical Project Manager at
      <a class="underline-link" href="https://www.siemensgamesa.com/" target="_blank">Siemens Gamesa</a>. My journey in the field includes impactful tenures at 
      <a class="underline-link" href="https://www.delltechnologies.com/" target="_blank">Dell Technologies</a>,
      <a class="underline-link" href="https://www.infosys.com/" target="_blank">Infosys</a>, and
      <a class="underline-link" href="https://www.thomsonreuters.com/" target="_blank">Thomson Reuters</a>. I hold an M.Tech in Software Systems and a B.Tech in Computer Science Engineering from <a class="underline-link" href="https://www.vit.ac.in/" target="_blank">VIT Vellore</a>.
    </p>

    <p>
      In my current role, I lead diverse software engineering teams, managing the full project lifecycle from conception to deployment. My background as a .NET Developer and Technical Architect enables me to bridge the gap between technical and managerial domains effectively. I specialize in coordinating cross-functional teams, managing timelines, and ensuring project alignment with business objectives. My expertise in C#, .NET, Azure, along with strong skills in communication and stakeholder management, plays a crucial role in driving successful project outcomes.
    </p>

    <p>
      Beyond core project management, I am actively involved in mentoring junior developers, advocating for best practices in software development, and promoting a culture of continuous learning and innovation within the team. I also keep my technical skills sharp, having delved into Flutter & Dart, and published my own app <a class="underline-link" href="https://www.lakshmi.dev/" target="_blank">www.lakshmi.dev</a> on the Play Store. I am passionate about digital transformation, IT strategy, Azure Cloud(Azure App Services, AKS, APIM, AzSQLDB, AzAppInsights, Purview, ADLS, Az Cognitive Services & AzOpenAI), .Net Core Web API development, and containerization solutions(using docker, k8s, azdevops & terraform).
    </p>

    <p>
      <strong>Outside of work</strong>, I stay engaged with the latest technological advancements, maintain an active interest in industry trends, and dedicate time to personal development projects.
    </p>

     {% include employment-status.html %} 
  </div>
</section>

