<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      With 14 years of experience as a .NET Developer, I'm currently the Lead Software Developer/Application Architect at
      <a class="underline-link" href="https://www.siemensgamesa.com/" target="_blank">Siemens Gamesa</a>. I have a rich professional history which includes roles at esteemed organizations like 
      <a class="underline-link" href="https://www.delltechnologies.com/" target="_blank">Dell Technologies</a>,
      <a class="underline-link" href="https://www.infosys.com/" target="_blank">Infosys</a>, and
      <a class="underline-link" href="https://www.thomsonreuters.com/" target="_blank">Thomson Reuters</a>. My academic qualifications include an M.Tech in Software Systems and a B.Tech in Computer Science Engineering from <a class="underline-link" href="https://www.vit.ac.in/" target="_blank">VIT Vellore</a>.
    </p>

    <p>
      As a technical architect, I thrive in bringing to life scalable and efficient applications that not only meet business needs but also provide engaging and user-friendly experiences. Proficient in C#, .NET, and Azure, I excel at requirements analysis and documentation, and my debugging and problem-solving skills have proven to be valuable assets. I have a proven record in system analysis and integration, developing client-server databases, API, and Azure applications.
    </p>

    <p>
      In addition to my professional work, I have developed a strong foundation in Flutter & Dart, and even published my own app <a class="underline-link" href="https://www.lakshmi.dev/" target="_blank">www.lakshmi.dev</a> on the Play Store. My skills also extend to areas such as digital transformation, IT strategy, edge computing, IoT, and hybrid cloud, to name a few.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I enjoy learning and exploring new technological advancements, staying updated with recent industry trends, and working on my personal development projects.
    </p>

     {% include employment-status.html %} 
  </div>
</section>
