<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    
    <div class="project ups-project">
      <figure class="project__pic">
        <img src="{{site.baseurl}}/img/featured/ups/ups-project.png" alt="UPS Project">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">UPS Technical Project Management</div>
        <p>As a Manager of Software Engineering at UPS, I spearheaded multiple agile SCRUM teams, managing performance, quality, and successful project completion. My role encompasses talent management, leadership, quality and security advocacy, data-driven management, and cross-functional collaboration.</p>
      </figcaption>
    </div>

    <div class="project siemens-gamesa">
      <figure class="project__pic">
        <img src="{{site.baseurl}}/img/featured/siemens-gamesa/siemens-gamesa.png" alt="Siemens Gamesa Project">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">Siemens Gamesa Digital Transformation</div>
        <p>At Siemens Gamesa, as Lead Software Developer/Application Architect, I was responsible for client-server database application development. This role involved communication with customers, mentoring junior consultants, technical architecture expertise, and microservice migration.</p>
      </figcaption>
    </div>

    <div class="project dell-technologies">
      <figure class="project__pic">
        <img src="{{site.baseurl}}/img/featured/dell-technologies/dell-technologies.png" alt="Dell Technologies Project">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">Dell Technologies .NET to .NET Core Migration</div>
        <p>As a Principal Software Engineer at Dell Technologies, I led the .NET to .NET Core Migration of Web Applications & APIs, created and validated specifications of REST APIs, and documented systems in a Class 2 application environment.</p>
      </figcaption>
    </div>

    <div class="project surewaves">
      <figure class="project__pic">
        <img src="{{site.baseurl}}/img/featured/surewaves/surewaves.png" alt="Surewaves Project">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">Surewaves MediaTech Cloud Integration</div>
        <p>As a Cloud Solutions Architect at Surewaves, I led the integration and deployment of cloud-based solutions, utilizing Azure and AWS tools. My role was pivotal in migrating traditional infrastructure to the cloud, optimizing resource utilization, and implementing scalable cloud architectures for high availability and fault tolerance.</p>
      </figcaption>
    </div>

  </div>
</section>
