<header class="intro">
  <h1 class="intro__hello">👋 Hello, world!
    <span class="emoji globe-showing-asia animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm 
    <span class="name">Narasimhan Devarajan Lakshmi</span> 🙋‍♂️, a Solution-minded back-end software engineer 💻🚀 focused on building beautiful systems &amp; experiences 🏗️🌟
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>🔎 Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:narasimhandl@gmail.com" target="_blank" class="highlight-link">📧 narasimhandl@gmail.com</a>
    </span>
  </h3>
  <h4 class="intro__greeting">
    <span>Let's create something amazing together! 🎉💡</span>
  </h4>
</header>

